@media (min-width:1081px) {
    #title-back {
        left: 320px !important;
    }
}

@media (max-width:1279px) {

    .content {
        padding-bottom: 96px;
    }

    .header {
        display: none;
    }

    #ellipse1, #ellipse2, #ellipse3 {
        display: none;
    }

    .background-title {
        width: 100%;
    }

    .container {
        padding: 0;
    }

    .title {
        max-width: 95%;
        display: block;
        margin: auto;
        margin-top: 64px;
    }

    .title img {
        width: 100%;
    }

    .title p {
        font-size: 18px;
        text-align: center;
    }

    .typing-title::after {
        height: 18px;
    }

    .mobile-menu {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 80px;
        position: fixed;
        z-index: 10;
        bottom: 0;
        color: white;
        background-color: #191919;
        border-radius: 24px 24px 0 0;
    }

    .mobile-item {
        width: 64px;
        font-size: 9px;
        font-weight: 600;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 6px 4px;
        font-family: "Montserrat", sans-serif;
        transition: all .2s;
        border-radius: 24px;
    }

    .mobile-item-main {

    }

    .mobile-item-main {
        background-color: #FFCC00;
        color: #222;
    }

    .mobile-item-main #SVGRepo_iconCarrier path {
        stroke: #222;
    }

    .mobile-menu-svg {
        width: 40px;
        height: 40px;
        transition: all .2s;
    }

    .mobile-menu-svg-center {
        width: 48px;
        transition: all .2s;
    }

    .under-section {
        min-height: 300px;
    }

    .under-section {
        height: max-content;
        padding-bottom: 48px;
    }

    .scroll-down-window {
        left: 280px;
    }

    .scroll-down-window {
        display: none;
    }

    .scroll-down-window img {
        width: 32px;
    }

    .section-title {
        width: 80%;
        padding-top: 32px;
    }

    .section-title h2 {
        font-size: 32px;
        padding: 0;
        margin: 0;
    }

    .products-box {
        width: 95%;
    }

    .outbox {
        width: 100%;
        border-radius: 32px;
        box-shadow: #FFCC00 4px 4px 0;
    }

    .products-item {
        width: 100%;
    }

    .outbox:hover {
        box-shadow: #FFCC00 6px 6px 0;
        margin: 0;
    }

    .product-descr-hidden img {
        width: 90%;
    }

    .product-inbox {
        height: max-content;
        flex-direction: column;
        justify-content: space-around;
    }

    .product-inbox .dev-time {
        padding: 10px 4px;
        font-size: 12px;
        margin: 6px 0;
    }

    .product-title {
        position: relative;
    }

    .product-title h4 {
        font-size: 24px;
    }

    .product-title p {
        font-size: 12px;
        margin: 2px 0;
        margin-bottom: 16px;
    }

    .products-item {
    }
    
    #landing-p-item {
    }


    .product-price {
        
    }

    .product-price a {
        width: max-content;
        padding: 8px 24px;
        font-size: 16px;
        box-shadow: 6px 6px 0 #222;
    }

    .step-icons-box img {
        display: none;
    }

    .section-title {
        display: none;
    }

    .card-take-offer-btn {
        margin-bottom: 64px;
    }

    .other-services {
        margin-bottom: 36px;
    }

    .other-service {
        width: 100%;
        height: max-content;
        transition: all .3s;
        overflow: visible;
    }

    .other-service-big {
        width: 100%;
    }

    .other-service-title {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }

    .other-service-title h4 {
        font-size: 28px;
        max-width: 300px;
    }

    .other-service-title p {
        max-width: 300px;
    }

    #new-case {
        
    }

    .other-service-inbox {
        height: max-content;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

    }

    .other-service-inbox:hover {
        box-shadow: none;
        margin: 0;
    }
    .other-service:first-child .other-service-inbox:hover {
        margin: 0;
    }

    .other-btn {
        background-color: #ffcc00;
        color: #222;
        box-shadow: #222 -8px -8px 0;
        transition: all .3s;
    }

    .other-service:hover .other-btn {
        opacity: 1;
    }

    .other-btn:hover {
        background-color: #ffcc00;
        color: #222;
        box-shadow: #222 -8px -8px 0;
    }

    .other-service-title img {
        margin-bottom: 8px;
    }
    
    .steps-box {
        margin-bottom: 64px;
    }

    .step-item {
        font-size: 24px;
    }
   

    #how-to-work h2 {
        margin-bottom: 64px;
    }

    .how-to-work-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .how-to-work-mobile h2 {
        background-color: #FFCC00;
        color: #222;
        font-size: 28px;
        padding: 12px 24px;
        box-shadow: 15px 15px 0px #111;
        font-family: "Rubik", sans-serif;
        text-align: center;
    }

    .in-c-ellipse {
        display: none;
    }

    .contact-us-title {
    }

    .contact-us-title h3 {
        font-size: 28px;
        text-align: center;
        padding: 8px 12px;
    }



    .portfolio-inbox {
        height: max-content;
        width: 95%;
    }

    .portfolio-inbox:hover {
        width: 95%;
    }

    .what-stek-box {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .what-stek-item {
        width: 95%;
    }

    .what-stek-images-box {
        width: 95%;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .what-stek-text p {
        padding: 16px;
        text-align: center;
    }

    .contact-us {
        width: 95%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .contact-us-fomr {
        width: 95%;
        padding: 0;
        margin: auto;
        border-radius: 32px;
    }

    .form-box {
        flex-direction: column;
    }

    .text-field {
        width: 100%;
    }

    .checkbox {
        justify-content: center;
        font-size: 16px;
    }

    .checkbox span {
        margin: 0;
    }

    .checkbox-box {
        margin-right: 16px;
        min-width: 24px;
        min-height: 24px;
    }

    .form-item {
    }

    .form-title {
        font-size: 18px;
    }

    .footer-nav {
        display: none;
    }

    .footer-contacts {
        display: flex;
        flex-direction: column;
        margin-top: 24px;
    }

    .footer-contact {
        margin-bottom: 12px;
    }

    .right-item {
        margin: 0;
    }

    .product-descr-visible {
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 26px;
        margin-bottom: 24px;
    }

    .product-descr-visible img {
        margin: auto;
    }

    .on {
        height: max-content;
    }

    .contact-us-box {
        width: 95%;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .contact-us-box-mobile {
        margin-top: 36px;
    }

    .contact-us-item {
        display: none;
    }

    .contact-us-item-mobile {
        display: flex;
    }

    .contact-us-item-mobile img {
        width: 90px;
    }
    
    .submit-item {
        margin-bottom: 32px;
    }

    .active-menu-item {
        background-color: #FFCC00;
        border-radius: 24px;
        transition: all .2s;
    }

    .active-menu-item p {
        color: #222;
        transition: all .2s;
    }

    .mobile-item p {
        padding: 0;
        margin: 0;
    }

    .active-menu-item #SVGRepo_iconCarrier path {
        stroke: #191919;
        transition: all .2s;
    }

    #form2 {
        display: flex;
        position: fixed;
        transform: translateY(-1000px);
        transition: all .5s;
        z-index: 10;
    }

    .form2-active {
        transform: translateY(0) !important;
        width: 100%;
        height: 95%;
    }

    .form2-toggle-btn {
        transition: all .3s;
    }

    #mobile-contact-us-inform {
        margin-top: 12px;
    }

    #form-title2 {
        font-size: 20px;
    }

    .rotate45 {
        rotate: 45deg;
    }

    .other-service-inbox-before {
        display: none;
    }

    .mob-other-service {
        scale: 0;
        width: 0;
        height: 0;
    }

    .other-service-open-btn {
        display: block;
        width: max-content;
        background-color: #fff;
        color: #222;
        padding: 12px 20px;
        margin: auto;
        margin-bottom: 24px;
        top: -28px;
        position: relative;
        border-radius: 20px;
    }

    .other-service-off {
        overflow: visible;
    }


}

@media (max-width:767px) {


    .product-arrow {
        right: 24px;
    }


    .step-descr {
        width: 240px;
        height: 160px;
    }

    .step-descr h4 {

    }
    
    .step-descr p {
        font-size: 14px;
        padding: 10px;
        text-align: center;
    }

    .step-icons-box {
        display: flex;
        margin-top: 42px;
    }

    .step-up {
        transform: scale(0.75) translate(0px, -200px) rotateY(10deg);
        z-index: 2;
        opacity: 0.5;
    }
    
    .step-center {
        transform: scale(1) translate(0px, 0px) rotateY(0deg);
        z-index: 3;
    }
    
    .step-center .step-descr {
        box-shadow: none;
        color: #222;
        background-color: #fff;
        font-weight: 500;
    }

    .step-center .step-descr p {
        font-weight: 400;
    }

    .product-title {
        width: 100%;
    }

    .product-title img {
        content: url(../img/mini-hot.svg);
        width: 48px;
        position: absolute;
        top:auto;
        left: 24px;
    }
    
    .step-down {
        transform: scale(0.75) translate(0px, 200px) rotateY(-10deg);
        z-index: 2;
        opacity: 0.5;
    }

    .step-box {
        width: 80%;
        flex-direction: column;
        margin: 0;
        padding: 0;
        height: max-content;
        margin-bottom: 24px;
        cursor: pointer;
    }

    .step-item {
        width: 100%;
        height: 100px;
    }

    .step-item-left {
        left: 0;
        height: max-content;
        text-align: center;
    }

    .step-item-left p {
        padding: 16px;
        margin: 0;
        font-size: 16px;
    }

    .step-item-right {
        position:relative;
        right: 0;
        margin: 0;
        padding: 0;
    }

    .step-box {
        transition: all .3s;
    }

    .si {
        transition: all .3s;
    }

    .si-l {
        width: 80%;
        height: max-content;
        position: absolute;
        opacity: 0;
        min-height: 100px;
    }

    .si-r {
        width: 100%;
        height: max-content;
    }

    .si-l-active {
        transform: translateY(90%);
        opacity: 1;
    }

    .mb-124 {
        margin-bottom: 114px;
        transition: all .3s;
    }

    .product-descr-title {
        width: 100%;
        display: block;
    }

    .product-descr-title h4 span {
        line-height: 40px;
    }

    .product-descr-title h4 {
        font-size: 28px;
        text-align: center;
    }

    .product-descr-descr {
        width: 100%;
    }

    .product-descr-descr h5 {
        font-size: 20px;
        margin: 12px;
        margin-bottom: 8px;
    }
    
    .pdd-about {
        font-size: 14px;
    }
    
    .product-descr-descr p {
        font-weight: 200;
        font-size: 14px;
    }
    
    .product-descr-descr ul {
        margin-top: 0;
    }
    
    .product-descr-descr li {
        font-weight: 200;
        font-size: 14px;
    }
    
    .product-descr-descr span {
        font-weight: 400;
    }
    
    .product-descr-descr div {
        margin-bottom: 12px;
        width: 100%;
    }
    
    .product-descr-descr div h6 {
        max-width: fit-content;
        padding: 4px 10px;
        margin: 0;
        margin-bottom: 6px;
        font-size: 18px;
        background-color: #222;
        color: rgb(0, 223, 89);
    }
    
    .product-descr-descr div p {
        padding: 0;
        margin: 0;
        font-weight: normal;
        font-size: 14px;
    }

    .other-service-inbox-before {
        display: none;
    }

    .mob-other-service {
        scale: 0;
        width: 0;
        height: 0;
    }

    /* .other-service-open-btn {
        display: block;
        width: max-content;
        background-color: #FFCC00;
        color: #222;
        padding: 12px 20px;
        margin: auto;
    } */

    .other-service-off {
        overflow: visible;
    }

    .copyright-alert {
        width: 80%;
        margin: auto;
    }

    .shablon-details {
        text-align: center;
    }

    .shablon-details a {
        line-height: 24px;
    }

    .portfolio-inbox:hover {
        scale: 1;
    } 

    .contact-us-title h2, .contact-us-title h3 {
        margin-bottom: 36px;
    }

    .other-services {
        overflow: hidden;
    }

    .other-services-box {
        justify-content: center;
        overflow: hidden;
    }

    .other-service {
        width: 95%;
    }

    .other-service:hover {
        scale: 1;
    }

    #why-we-title {
        margin-top: 48px;
    }

    .form-title {
        margin-bottom: 24px;
    }

    .top-64 {
        top: -144px !important;
    }
    
    .mb-100 {
        margin-bottom: -100px !important;
    }

}


@media (max-width:639px){
    .step-icons-box {
        display: none;
    }

    .other-services {
        width: 100%;
    }

}


@media (max-width:448px) {

    .mnogostr-span {
        font-size: 20px;
    }



}

@media (max-width:360px) {
    .how-to-work-mobile h2 {
        font-size: 26px;
    }

    .contact-us-title h3 {
        font-size: 26px;
    }

    .step-item-right {
        font-size: 20px;
    }

    .step-item-left p {
        font-size: 14px;
    }
}

@media (max-width:1279px) {
    @media (min-width:768px) {

        .under-section {
            height: max-content;
            padding-bottom: 48px;
        }

        .products-box {
            width: 90%;
        }
        
        .product-inbox {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            height: 160px;
            border-radius: 60px;
        }
    
        .outbox {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 56px;
            max-width: 1024px;
        }
    
        .product-title h4 {
            font-size: 32px;
        }
    
        .product-title p {
            font-size: 16px;
        }
    
        .other-services {
            width: 85%;
            margin: auto;
        }
    
        .other-services-box {
            justify-content: space-between;
        }
        
        .other-service {
            width: 46%;
        }
    
        .other-service-inbox {
            min-height: 400px;
            justify-content: flex-start;
            position: relative;
        }

        .other-btn-box {
            margin-bottom: 36px;
        }

        .other-service-title {
            margin-bottom: 0;
        }

        .other-service-title p {
            max-width: 360px;
        }

        .other-service-descr {
            margin-top: 0;
            margin-bottom: 0;
        }
    
        .other-service-big {
            width: 100%;
        }
    
        .ost-min h4 {
            font-size: 26px;
        }
    
        .ost-min p {
            font-size: 16px;
        }
    
        .step-icons-box {
            display: flex;
            margin-top: 42px;
        }
    
        .step-descr {
            width: 240px;
            height: 160px;
        }

        .step-descr h4 {

        }
        
        .step-descr p {
            font-size: 14px;
            padding: 10px;
            text-align: center;
        }

        .step-icon img {
            width: 160px;
        }
    
        .step-up {
            transform: scale(0.75) translate(0px, -200px) rotateY(10deg);
            z-index: 2;
            opacity: 0.5;
        }
        
        .step-center {
            transform: scale(1) translate(0px, 0px) rotateY(0deg);
            z-index: 3;
        }
        
        .step-center .step-descr {
            box-shadow: none;
            color: #222;
            background-color: #fff;
            font-weight: 500;
        }

        .step-center .step-descr p {
            font-weight: 400;
        }
        
        .step-down {
            transform: scale(0.75) translate(0px, 200px) rotateY(-10deg);
            z-index: 2;
            opacity: 0.5;
        }

        .portfolio {
            width: 85%;
            margin: auto;
        }

        .portfolio-inbox {
            width: 47%;
        }

        .portfolio-inbox .other-service-title h4 {
            font-size: 24px;
        }

        .portfolio-inbox:hover {
            width: 49%;
        }

        .portfolio-box {
            justify-content: space-between;
        }

        #new-case img {
            border: none;
        }
        
        

    }
    

}